In [34]:

import pandas as pd
df = pd.read_csv("cda-export.csv")
print(df.head())

                                            entityid  \
0  2856b33b-9968-46e0-96b8-9c5d278c8044_80000000-...
1  2856b33b-9968-46e0-96b8-9c5d278c8044_80000000-...
2  2856b33b-9968-46e0-96b8-9c5d278c8044_80000000-...
3  2856b33b-9968-46e0-96b8-9c5d278c8044_80000000-...
4  2856b33b-9968-46e0-96b8-9c5d278c8044_80000000-...

                             gridcellid              timeinstant  nitrogen  \
0  80000000-8853-0000-0001-800000062ad0  2024-09-16 15:54:28.203      1210
1  80000000-8854-0000-0001-800000062ad0  2024-07-24 12:39:21.153      1230
2  80000000-8854-0000-0001-800000062ad9  2024-09-16 15:54:30.994      1130
3  80000000-8855-0000-0001-800000062ad9  2024-07-24 12:39:23.476      1000
4  80000000-8857-0000-0001-800000062acb   2024-09-16 15:54:31.56      1430

   phosphorus  potassium  electricconductivity    ph  organiccontent  \
0       24.80        330                 20.54  8.17            1.79
1       24.20        370                 23.22  8.94            2.00
2       25.00        320                 23.22  8.10            1.82
3       24.21        380                 23.22  8.88            1.90
4       26.90        350                 23.22  8.31            2.28

   sandcontent  siltcontent  claycontent  density  \
0        34.92        47.86        17.22   0.9000
1        34.00        49.00        17.00   0.8304
2        28.78        58.14        13.08   0.9100
3        29.00        56.00        15.00   0.8024
4        28.92        47.86        23.22   0.9600

                                batchid                         refagriparcel  \
0  2856b33b-9968-46e0-96b8-9c5d278c8043  c17d0a9b-7e2a-4953-8555-e4bf09b05915
1  2856b33b-9968-46e0-96b8-9c5d278c8044  c17d0a9b-7e2a-4953-8555-e4bf09b05915
2  2856b33b-9968-46e0-96b8-9c5d278c8043  c17d0a9b-7e2a-4953-8555-e4bf09b05915
3  2856b33b-9968-46e0-96b8-9c5d278c8044  c17d0a9b-7e2a-4953-8555-e4bf09b05915
4  2856b33b-9968-46e0-96b8-9c5d278c8043  c17d0a9b-7e2a-4953-8555-e4bf09b05915

               batchdate
0  2023-11-16 03:00:00.0
1  2024-03-03 23:00:00.0
2  2023-11-16 03:00:00.0
3  2024-03-03 23:00:00.0
4  2023-11-16 03:00:00.0

In [35]:
print(df.shape)

(5, 16)

In [36]:
print(df.columns)

Index(['entityid', 'gridcellid', 'timeinstant', 'nitrogen', 'phosphorus',
       'potassium', 'electricconductivity', 'ph', 'organiccontent',
       'sandcontent', 'siltcontent', 'claycontent', 'density', 'batchid',
       'refagriparcel', 'batchdate'],
      dtype='object')

In [37]:
print(df.iloc[3])

entityid                2856b33b-9968-46e0-96b8-9c5d278c8044_80000000-...
gridcellid                           80000000-8855-0000-0001-800000062ad9
timeinstant                                       2024-07-24 12:39:23.476
nitrogen                                                             1000
phosphorus                                                          24.21
potassium                                                             380
electricconductivity                                                23.22
ph                                                                   8.88
organiccontent                                                        1.9
sandcontent                                                          29.0
siltcontent                                                          56.0
claycontent                                                          15.0
density                                                            0.8024
batchid                              2856b33b-9968-46e0-96b8-9c5d278c8044
refagriparcel                        c17d0a9b-7e2a-4953-8555-e4bf09b05915
batchdate                                           2024-03-03 23:00:00.0
Name: 3, dtype: object

In [38]:
print(df.isnull().sum())

entityid                0
gridcellid              0
timeinstant             0
nitrogen                0
phosphorus              0
potassium               0
electricconductivity    0
ph                      0
organiccontent          0
sandcontent             0
siltcontent             0
claycontent             0
density                 0
batchid                 0
refagriparcel           0
batchdate               0
dtype: int64

In [39]:
df.describe()

,nitrogen,phosphorus,potassium,electricconductivity,ph,organiccontent,sandcontent,siltcontent,claycontent,density
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,1200.000000,25.022000,350.000000,22.684000,8.480000,1.958000,31.124000,51.772000,17.104000,0.880560
std,157.162336,1.108116,25.495098,1.198532,0.400312,0.197535,3.063671,4.917288,3.809499,0.063601
min,1000.000000,24.200000,320.000000,20.540000,8.100000,1.790000,28.780000,47.860000,13.080000,0.802400
25%,1130.000000,24.210000,330.000000,23.220000,8.170000,1.820000,28.920000,47.860000,15.000000,0.830400
50%,1210.000000,24.800000,350.000000,23.220000,8.310000,1.900000,29.000000,49.000000,17.000000,0.900000
75%,1230.000000,25.000000,370.000000,23.220000,8.880000,2.000000,34.000000,56.000000,17.220000,0.910000
max,1430.000000,26.900000,380.000000,23.220000,8.940000,2.280000,34.920000,58.140000,23.220000,0.960000